.gradient-custom-4 {
/* fallback for old browsers */
background: #84fab0;

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgb(15, 20, 17), rgb(137, 144, 148))
}

.btn-light{
    --mdb-btn-box-shadow: 0 4px 9px -4px #000000;
}

.gradient-custom-3 {
    background: rgb(255, 255, 255);
}
