*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: #FBFBFB;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: column;
}

main{
    min-height: 90vh; 
}

.h3{
    display: flex;

}

.global{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.container-1{
    width: 70%;
    height: auto;
    margin-right: 40px;
    display: grid;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 20px;
}

.itens-up {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-bottom: 80px;
}

.itens-center{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: none;
}

.teste{
    display: flex;
}

.container-quantidade {
    display: flex;    
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
}
.img{
    width: 100px;
    border: 1px solid;
    margin: 20px;
}

img{
    height: 100%;
}

.quantidade{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.quantidade .btns{
    border: none;
    padding: 2px;
    font-size: 30px;
    font-weight: 700;
}

.quantidade button{
    border: none;
    background-color: transparent;
    font-weight: 400;
}

.quantidade p{
    font-weight: 700;
}

.quantidade .number{
    font-size: 30px;
}

.infos-produto{
    margin: 20px;
}

.mais-ou-menos{
    display: flex;
    gap: 8px;
}

.vendido{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
}

.container-1 i, .container-2 i{
    color: #FF784E;
    padding: 9px;
}

.container-1 p, .container-2 p{
    color: Black;
}

.container-2{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 342px;
    border-radius: 10px;
    padding: 20px;
}

.container-2 p{
    font-size: 20px;
}

.entrega{
    margin-bottom: 10px;
}

.container-2 input{
    padding: 2px;
}

.entrega p{
    font-size: 20px;
    margin: 0;
    padding-bottom: 5px;
}

.container-2 button{
    border: none;
    padding: 5px;
}

.btns2{
    color: white;
    background-color: #FF784E;
    border: 5px;
    font-weight: 600;

}

.btns2:hover{
    background-color: #FF784E;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.btn-blue{
    background-color: white;
    color: blue;
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.btn-blue a{
    text-decoration: none;
}

.preco{
    color: #FF784E;
}

.mais-ou-menos{
    align-items: flex-start;
}

.subtotal {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    gap: 10px;
    flex-direction: column;
}

.excluirProduto{
    margin-left: 20px;
}

.excluirProduto button{
    border: none;
    background: transparent;
}

@media screen and (max-width: 1100px) and (min-width:970px){
    .global{
        display: grid;
        margin: 0;
    }

    .container-1{
        width: 100%;
        margin-top: 30px;
    }

    .container-2{
        width: 40%;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 969px) and (min-width:320px){

    main{
        height: 100%;
    }

    .global{
        display: grid;
        margin: 0;
        padding: 0px 0px 0px 20px;
        min-height: 500px;
    }

    .container-1 {
        width: 90%;
        margin-top: 10px;
    }

    .container-2{
        max-width: 90%;
        min-width: 40%;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .itens-up {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        /* margin-bottom: 80px; */
        justify-content: center;
    }

    .elite{
    text-align:center;
    }

    .itens-center {
        display: flex;
        flex-direction: column;
        border: none;
    }

    .teste {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-quantidade {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }

    .excluirProduto {
        margin: 0   ;
    }
}