
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    height: auto;
    background-color: black;
}

.elements i, .elements p{
    color:white;
    display: flex;
    justify-content: center;
    text-align: center;
    justify-items: center;
    
}

.elements{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.title{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.icons{
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer .cop p {
    display: flex;
    color: white;
    margin: 0;
    padding: 0;
    justify-content: center;
}



main .detalhes-box {
    height: 75vh;
    padding-left: 50px;
}

@media screen and (max-width: 768px) and (min-width:320px){

    footer{
        display: flex;
        flex-direction: column;
    }

    .elements{
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin-bottom: 10px;
    }

    .cop{
        text-align: center;
    }
}