
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    height: auto;
    background-color: black;
}

.elements i, .elements p{
    color:white;
    display: flex;
    justify-content: center;
    text-align: center;
    justify-items: center;
    
}

.elements{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.title{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.icons{
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer .cop p {
    margin: 0;
    padding: 0;
}

.vendido{

}