*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
}

.infos-container {
    max-height: calc(2 * 150px);
    overflow-y: auto;
}

.infos {
    height: 150px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    padding: 10px;
    box-sizing: border-box; 
}

.top-infos, .low-infos {
    display: flex;
    justify-content: space-between;
}

.box-img img {
    width: 100%; 
    height: 100%; 
}

.text, .low-infos {
    display: flex;
    flex-direction: column;
}

.laranja {
    color: orange;
}


.box-global{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 5%;
    padding: 50px;
    width: 100%;
}

.box-left{
    margin-right: 10%;
    display: flex;
    width: 40%;
    flex-direction: column;
    border-radius: 10px;
}

.itens{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.icon{
    padding: 10px;
    font-size: 30px;
}

.itens p{
    margin-top: 15px;
}

.box-right {
    width: auto;
    box-shadow: 1px 1px 5px 6px rgba(0, 0, 0, 0.21);
    border-radius: 10px;
}

.top-infos{
    display: flex;
    padding: 10px;
}

.top-infos .box-img{
    border: 1px solid;
    width: 150px;
    height: 110px;
    margin-right: 5px;
}

.top-infos .text{
    display: flex;
    gap: 1px;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
}

.itens{
    margin: 0;
    padding: 0;
}

.itens i{
    align-items: center;
    justify-content: center;
}

.low-infos{
    margin-left: 10px;
}

.laranja{
    color: #FF784E;
}

.box-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.box-btn button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #ff6900;
    color: white;
    font-size: 18px;
    font-weight: 400;
    width: 80%;
    height: 40px;
    text-align: center;
}

.cartao{
    margin-top: 10%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 6px rgba(0, 0, 0, 0.21);
}

.teste {
    padding: 10px;
    box-shadow: 1px 1px 5px 6px rgba(0, 0, 0, 0.21);
    border-radius: 10px;
}


.box-geral{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.infos-cartao{
    display: flex;
    margin-left: 10px;
}

.box-credit{
    display: flex;    
}

.cartao .infos-cartao .box-credit p{
    margin-top: 20px;
}

.box-credit i{
    color: #ff6900;
}

.btn-add-payment{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    background-color: #dadada;
    border-color: #dadada;
    transition: .5s;
    margin: 10px;
}

.btn-add-payment:hover{
    background-color: #ff9b49c9;
    border-color: #ff9b49c9;
}


.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: #ffffff;
    background-color: #dadada;
    border-color: #dadada;
}

@media screen and (max-width: 1800px) and (min-width:910px){

    .cartao{
        text-align: center;
    }

    .infos-cartao {
        display: flex;
        flex-direction: column;     
        width: 80%;
        margin: 0;
    }

    .dropdown button{
        width: 90%;
    }
}

@media screen and (max-width: 910px) and (min-width:320px){

    .cartao{
        text-align: center;
    }

    .infos-cartao {
        display: flex;
        flex-direction: column;     
        width: 80%;
        margin: 0;
    }

    .dropdown button{
        width: 90%;
    }

    .box-global {
        display: grid;
        grid-template-columns: 1fr;
        padding: 14px;
        justify-items: center;
        justify-content: center;
    }

    .box-left{
        margin: 0;
        width: 95%;
    }

    .box-right{
        margin-top: 10%;
    }

}